
<div class="col-sm-4 pl20 nonemax768">
    <div class="qc">
        <a href=""><img src="../Content/images/qc.png"></a>
    </div>
    <!--Begin col hỗ trợ, tìm mộ-->
    <ul class="list_sp">
        <li class="red"><a href="">Hỗ trợ trực tuyến</a><span></span></li>
        <li class="blue"><a href="">Đăng tin tìm mộ</a><span></span></li>
        <li class="red red1"><a href="">Tìm mộ liệt sỹ</a><span></span></li>
    </ul>
    <!--End col hỗ trợ, tìm mộ-->
    <!--Begin phóng sự ảnh-->
    <div class="photo_report fl">
        <h3>Phóng sự ảnh</h3>
        <img src="../Content/images/img_psa.png">
        <p><a href="">Thủ tục tâm linh trước khi tìm kiếm các hài cốt Liệt sĩ </a></p>
    </div>
    <!--End phóng sự ảnh-->
    <!--Begin Nhắn tìm mộ liệt sỹ-->
    <div class="search_tomb mt10">
        <h3><a href="">Nhắn tin tìm mộ</a></h3>
        <ul>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
            <li><a href="">Tìm cậu LS Nguyễn Văn Lạn ( Lạng)</a></li>
        </ul>
    </div>
    <!--End Nhắn tìm mộ liệt sỹ-->
</div>
