<div class="container">
    <p><strong>© Bản quyền thuộc về NguoiDuaDo.Vn</strong> </p>
    <p><strong>Tài Khoản:</strong> 12820757409014 TechcomBank Bình Dương - <strong>Địa chỉ:</strong> 107 - Tổ 10 - Ấp Cổng Xanh - Tân Bình - Tân Uyên - Bình Dương </p>
    <p> <strong>Hotline:</strong> 0988847715 - <strong>Email:</strong> info@nguoiduado.vn - <strong>Website:</strong> nguoiduado.vn</p>
</div>