
<html lang="vi">
@{ Layout = "~/Views/Shared/_rootHome3Col.cshtml"; }
@using nguoiduado.Models
@model nguoiduado.Models.TBL_NoiDung


<head>
    <title>Nguoiduado.vn</title>
</head>
<body>
<div class="col-sm-8">
    <div class="category">
        <h3>Giới thiệu</h3>
        <div class="introduce">
            <p>Tôi chỉ là một giáo viên và là một công dân bình thường như bao công dân khác trên đất nước Việt Nam này. Chỉ có điều: Gia đình tôi phải chịu nhiều mất mát đau thương do Chiến tranh để lại nên tâm nguyện của tôi là muốn đưa chút sức lực nhỏ nhoi của bản thân làm những chuyến đò đưa Anh linh các anh hùng liệt sĩ đang bị thất lạc đâu đó về với quê hương, tổ tiên và dòng tộc.</p>
            <p>Tranh thủ những thời gian nghỉ, thay vì người ta cùng gia đình tới các khu vui chơi giải trí hoặc siêu thị để mua sắm thì tôi lại cùng nhà tôi đến các địa phương, các đơn vị Quân đội, các NTLS ở mọi miền quê để thu thập thông tin, sau đó đăng tải lên mạng Internet để mong sao những thông tin đưa lên có ích cho một ai đâu đó trên đất nước này. Chỉ đơn giản vậy thôi! </p>
            <p><strong>Chủ nhân Website: <span class="clred">Nguyễn Sỹ Hồ</span></strong></p>
            <p>Nguyên quán : Hương Trạch - Hương Khê - Hà Tĩnh</p>
            <p>Địa chỉ: Số nhà 12 - Tổ 2 - Ấp Cổng Xanh - Tân Bình - Tân Uyên - Bình Dương</p>
            <p>Hộp thư: <a href="">ho.hatinh@gmail.com</a></p>
            <p>Điện thoại: 0988847715-06503684351</p>
            <p>Mọi liên hệ xin gửi vào hộp thư điện tử hoặc viết vào ô góp ý ở cuối bài viết. Nếu gặp khó khăn xin đọc kỹ phần hướng dẫn viết comment. Xin đa tạ!</p>
        </div>
    </div>
</div>
   
</body>
</html>
